env:
  global:
    secure: qo9LaeMNp11Jdy/bX+yBRC+pGLXSQYKETujTgOCASKaY5XYK7Qm6gC0MOsXwZ0QlPUTEaQmhsZ9tO/wrFq9NylwZdqbpsG1yXenNw3Mzil8rZxVghY2A6g3LeEqSASJriK45txG0yTz+yxA71Vh+BLioQjLcmZUwRV/5ozQWGJbr6EV8g58vwnUh+Vt43NleAS2a7jBIDJVOj6bWcwMw1OO1Zm4+wufCRu91oEXD7YbXS+aSIqXko8kTG6UAPW9kfR12QXZgJHCR4bhu8QsZ2HY+5fBH69RXhrT5DS1KCiswIiAsW2+S2uq5VUEgejGodbRmXN1yeVUBe+lKrxCkQit4NqxvVp7NQv8snHM4hDMXGt9qHOmEGKmGNQJZ6vokZGErzde24HW4Gq711CluFhLBt+TLm2GRKGeqEd6rU85F6QmXvCAvVFZD2TSrFm+1e6L/4ahvk7greIlW69D+hAfUQ8sT8/cQqg+yEWrVZ8VOtTkk1EAouHRKzUpnVtaTimeCBuRXmdB/YN+N3wsjonS49WR2hd18TcTQIapXTFx83GpBfXksKYFUZa6m8/dEAVB3RJnucbY1wI7F5ZzwDkUe9CfEum/uWalgAclUWHg5ZKDRL2PQwGxL4YtXNH2VSH5R0YzSuri/xVeb7FA4AYsFDNXyjiLvwD+eR7I5Uk0=

language: node_js
node_js:
  - 'node'

script:
  - yarn build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: dist
  on:
    branch: master
