.internalGame {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  overflow: hidden;
}

.gameList {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
    background-color: transparent;
  }
}

.game {
  width: 66%;
  box-shadow: 0 2px 5px 5px rgba($color: white, $alpha: 0.3);
  background-color: white;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 15px;
  text-align: center;
  border-radius: 8px;

  a {
    text-decoration: none;
    color: #0000ff;
  }

  .gameLogo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    vertical-align: middle;
  }

  .gameName {
    font-size: 22px;
    margin-left: 10px;
    vertical-align: middle;
  }
}
