// 超过多少行隐藏
@mixin multi-lines-ellipsis($lines) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lines;
  word-break: break-all;
  white-space: initial;
  -webkit-box-orient: vertical;
}

// 省略号
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
